@import url('../common/style/common.less');
.myInfo {
	margin-left: 10px;
	margin-top: 10px;
	background: #fff;
	.infos {
		padding-top: 20px;
		padding-left: 20px;
		padding-bottom: 5px;
		li {
			position: relative;
			display: block;
			font-size: 20px;
			margin-bottom: 20px;
			cursor: pointer;
			i {
				position: relative;
				left: -6px;
				display: inline-block;
				width: 30px;
				margin-right: 10px;
				text-align: center;
			}
			span {
				display: inline-block;
				width: 120px;
			}
			.inum {
				position: relative;
				top: 2px;
				float: right;
				.clearfix;
				font-size: 12px;
				padding: 2px;
				background: #F6F6F6;
			}
		}
	}	
}
