@zhc: #0084ff;
@gray: #8590A6;
@mask-color: rgba(0, 0, 0,0.3);
.clearfix:after {
	content: "";
	height: 0;
	visibility: hidden;
	overflow: hidden;
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
.clearfix:before,.clearfix:after {
	display: table;
	clear: both;
}
.hover_bc {
	&:hover {
		background: #f6f6f6;
	}
}
.font-Roboto {
	font-family: 'Roboto', sans-serif;
}
.font-Montserrat {
	font-family: 'Montserrat', sans-serif;
}
.input-placeholder {
	&::-webkit-input-placeholder{
	    color: #999;
	    font-size: 16px;
	    font-weight: 400;
	    line-height: 40px;
	}
}
.gray-darker {
	color: #666;
}
.bcWhite {
	background: #fff !important;
}
.inherit {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
.init {
		border: none;
		outline: none;
		resize: none;
}
.text_init {
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.clearZero {
	height: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}


