body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 15px;
    color: #1a1a1a;
    background: #f6f6f6;
    -webkit-tap-highlight-color: rgba(26,26,26,0);
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.scroll-header-wrapper {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	.content {
		-webkit-box-align: center;
		align-items: center;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		width: 1000px;
		height: 100%;
		padding: 0 16px;
		margin: 0 auto;
		.content-left {
			width: 694px;
			padding-left: 20px;
			box-sizing: border-box;
			.title {
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: normal;
				font-family: -apple-system;
				cursor: pointer;
				font-size: 22px;
				font-weight: 900;
				line-height: 32px;
				color: #1a1a1a;
			}
		}
		.content-right {
			width: 296px;
			padding-right: 20px;
			text-align: right;
			.group {
				display: inline-block;
				margin: 0 -8px;
				.button {
					display: inline-block;
					padding: 0 16px;
					font-size: 14px;
					line-height: 32px;
					text-align: center;
					cursor: pointer;
					background: none;
					border: 1px solid;
					border-radius: 3px;
				}	
				.attention {
					.button;
					margin: 0 8px;
					color: #fff;
					background: #0084ff;
					min-width: 96px;
					border-color: #0084ff;

				}
				.invite {
					.button;
					margin: 0 8px;
					color: #0084ff;
					border: 1px solid #0084ff;	
					svg {
						fill: currentColor;
						vertical-align: text-bottom;
						margin-right: 7px;
						overflow: hidden;
						transform-origin: 50% 50% 0px;	
					}
				}
			}
		}
	}
}